<div class='container'>
  <div class="row">
    <h1 class="col-sm-4 text-left">Top Runners</h1>
  </div>  
  <div class='row'>  
    <div class="col-sm-4 text-center mb10">
      <select class="country-select " 
        (change)="onCountryChangeEvent($event.target.value)">
        <option selected="selected" value=''> - Select Country - </option>
        <option *ngFor="#country of countries;
        #index = index" value={{country}}>{{country}}</option>
      </select>
    </div>
    <div class="search-box col-xs-12 col-sm-4 text-right mb10">
      <i class="fa fa-search"></i>
      <input type="text" [(ngModel)]="searchText" placeholder="Type name or city in {{selected_country}}">
    </div>
  </div>

  <!-- Search Progress/Result -->  
  <!-- Found -->
  <div class="row">
    <div *ngIf="!isLoading && runners?.length > 0" class=".col-sm-3 pull-right result-count">Found <span class="green-highlight">{{runners.length}}</span> runners <span *ngIf="searchText.length > 0"> match <span class="green-highlight">"{{searchText}}"</span></span>
    </div>
    <!-- Loading -->
    <div id="1cdasdf" *ngIf="isLoading" class="col-sm-1 col-sm-offset-6 mt20">
     <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
    <!-- Eror -->
    <div id="2cdasdf" *ngIf="!isLoading && errorMessage" class="col-sm-1 col-sm-offset-6 mt20">{{errorMessage}}
    </div>
  </div>
  <div class="row" *ngIf="filterUsers(searchText).length > 0">
  <!-- Runner Profile Block -->
    <ul>      
      <li *ngFor="#runner of filterUsers(searchText)" 
        class='col-xs-6 col-sm-4 col-md-3 col-lg-3'>
        <div class="widget-profile-holder">
          <div class="widget-profile-header text-center">
            <div class="profile-name mb20">
              <div class="center-block">
                <span>{{runner.name}}</span>
              </div>
            </div>
            <div class="profile-image mb10">
              <img src="{{runner.profileImg}}" 
              class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-city">
              <div class="center-block">
                <span><i *ngIf="runner.city != ''" class="fa fa-map-marker"></i> {{runner.city}}</span>
              </div>
            </div>
          </div>
          <div class="widget-profile-body">
              <div class="pull-left">
                <a class="btn btn-xs btn-white">Run</a>
                <a class="btn btn-xs btn-warning">{{runner.eventCount}}</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-xs btn-success" target="_blank" 
                href="{{runner.runnersProfile}}">View Profile 
                <i class="fa fa-sign-in"></i></a>
              </div>
          </div>
        </div>
      </li>      
    </ul>
  </div>
  <!-- END Runner Profile Block -->
</div>



