<h1>Country List</h1>
<select (change)="onCountryChangeEvent($event.target.value)">
	<option selected="selected" value=''> - Select Country - </option>
  <option *ngFor="#country of countries;
  #index = index" value={{country}}>{{country}}</option>
</select>

<h1>Name List</h1>
<ul>
  <li *ngFor="#runner of runners">
  	<div>Name: {{runner.name}}</div>
  	<div>City: {{runner.city}}</div>
  	<div>Profile Image: {{runner.profileImg}}</div>
  	<div>Profile Link: {{runner.runnersProfile}}</div>
  	<div>Event Count: {{runner.eventCount}}</div>
  	<hr/>
  </li>
</ul>